<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GroceryDash</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>Grocery Dash @if(@ViewBag.CurrentUserFirstName != null){
            <span>| @ViewBag.CurrentUserFirstName | <a asp-controller="ShoppingList" asp-action="Dashboard">Dashboard</a> | <a asp-controller="Home" asp-action="Logout">Logout</a></span>
        }
        
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
        
        
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
