@{
    ViewData["Title"] = "Create New Product Category";
}

@using GroceryDash.Models

@model GroceryDash.Models.CreateProductCategoryView

    <form asp-controller="Product" asp-action="CreateProductCategory" method="POST">
         
        <p><span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name"></p>

        <p><span asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea></p>

        
        <button type="submit" class="big-button">Create Product Category</button>
    
    </form>

<a asp-controller="ShoppingList" asp-action="Dashboard"><button class="big-button">Back To Dashboard</button></a>