@{
    ViewData["Title"] = "Welcome to Grocery Dash!";
}

@using GroceryDash.Models

<h3>Welcome, @ViewBag.CurrentUserFirstName</h3>

@{
    User user = (User)ViewBag.FullUser;
    @if(@user.MyShoppingLists.Count > 0){
    
        @foreach(var list in user.MyShoppingLists){
            <p>@list.ShoppingList.Name <a asp-controller="ShoppingList" asp-action="ListDetails" asp-route-id="@list.ShoppingList.id"><button>Edit</button></a> <a asp-controller="ShoppingList" asp-action="GoShopping" asp-route-listId="@list.ShoppingList.id"><button>Go Shopping</button></a></p>
        }
    }
}

<p><a asp-controller="ShoppingList" asp-action="CreateList"><button>Build New List</button></a></p>

<p><a asp-controller="Product" asp-action="CreateProduct"><button>Add New Product</button></a></p>

<p><a asp-controller="ProductCategory" asp-action="CreateProductCategory"><button>Add New Product Category</button></a></p>

<p><a asp-controller="Store" asp-action="CreateStore"><button>Add New Store</button></a></p>

<p><a asp-controller="Store" asp-action="Stores"><button>View All Stores</button></a></p>